$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'typography';
@import 'colors';

html,
body,
.wrapper,
main {
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

body {
  display: block;
  height: 100%;
}

.wrapper {
  // position: relative;
  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;

}

main {
  // display: flex;
  // flex-wrap: wrap;
  // height: 100%;
  // position: relative;

}

.left {
  position: fixed;
  top: 0;
  width: 35%;
  height: 100%;
  align-items: center;
  background-image: url('../../img/bckg-half.png')no-repeat top left;
  background-size: cover;
  display: flex;
  height: 100%;
  float: left;
  clear: left;
  justify-content: center;
}
section img {
  height: 100%;
  width: 100%;
}

.brand-box {

}

.brand {

}

.ash {
  font-family: $header-font;
  text-align: center;

}

.price {
  font-family: $scroll-font;
  text-align: center;

}

.rw-wrapper {

}

.rw-words {
  font-family: $deveolper-font;
  text-align: center;
}

// Footer
footer {
  // flex-direction: column;
  background-color: $primary-color-text;
  border-top: 1px solid grey;
  color: gray;
  display: inline-block;
  padding: 20px;
  padding-bottom: 40px;
  position:fixed;
  text-align: center;
    left:0px;
    bottom:0px;
    height:20px;
    width:35%;
}

footer > ul {
  list-style-type: none;
}

footer li {
  display: inline-flex;
  padding: 0px;
  height: 10px;
  width: 20px;
}

//right side of the page

.right {
  align-items: center;
  background-color: $primary-color;
  display: flex;
  float: right;
  clear: right;
  justify-content: center;
  width: 65%;
  height: 100%;
}

.right-container {

}

.folio-body {

}

#about {

}

#portfolio {

}

#resume {

}

#contact {

}

@media (max-width: 1200px) {
  .left {
    height: 35%;
  }
  .right {
    height: 65%;

  }
}

nav > ul{
  display: inline-flex;
  list-style-type: none;
}

nav a {
  color: $primary-color-text;
  display: inline-block;
  font-size: 1em;
  padding: .5em .5em;
  transition: background 2s;
}

nav a:hover {
  background: $accent-color;
}
