$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'typography';
@import 'colors';

html,
body,
.wrapper,
main {
  // display: block;
  height: 100vh;
  margin: 0;
  padding: 0;
  // position: relative;
  width: 100%;
}

body {
  // display: block;
}

.wrapper {

  // position: relative;
  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;

}

main {
  // display: flex;
  // flex-wrap: wrap;
  // height: 100%;
  // position: relative;

}

.left {
  width: 35vw;
  height: 100vh;
  align-items: center;
  background-image: url('../../img/bckg-half.png');
  background-size: cover;
  display: flex;
  float: left;
  clear: left;
  position: fixed;
  top: 0;
  justify-content: center;
}

section img {
  height: 100%;
  width: 100%;
}

.brand-box {

}

.brand {

}

.ash {
  font-family: $header-font;
  text-align: center;

}

.price {
  font-family: $scroll-font;
  text-align: center;

}

h1 {
  font-size: 5em;
}

.rw-wrapper {

}

.rw-words {
  font-family: $signiture-font;
  text-align: center;
}

// Footer
footer {
  // flex-direction: column;
  background-color: $primary-color-text;
  border-top: 1px solid grey;
  color: gray;
  display: inline-block;
  padding: 20px;
  padding-bottom: 40px;
  position: fixed;
  text-align: center;
  left: 0px;
  bottom: 0px;
  height: 20px;
  width: 35%;
}

footer > ul {
  list-style-type: none;
}

footer li {
  display: inline-flex;
  padding: 0px;
  height: 10px;
  width: 20px;
}

//right side of the page

.right {
  // align-items: center;
  background-color: $primary-color;
  display: flex;
  float: right;
  clear: right;
  justify-content: center;
  width: 65%;
  height: 100%;
}

.right-container {

}

.folio-body {

}

#about {

}

#portfolio {

}

#resume {

}

#contact {

}

@media (max-width: 1200px) {
  .left {
    height: 35%;
  }
  .right {
    height: 65%;

  }
}

nav {

}

nav > ul{
  display: inline-flex;
  list-style-type: none;
}

nav a {
  color: $primary-color-text;
  display: inline-block;
  font-size: 1em;
  padding: .5em .5em;
  transition: background 2s;
}

nav a:hover {
  background: $accent-color;
}

/*Rotating words*/
#banner {
  // background-image: url("./images/green.jpg");
  background-size: cover;
  background-repeat: none;
  background-position: center center;
  height: 400px;
  padding-top: 90px;
  width: 100%;
}

.rw-wrapper{
  font-size: 1em;
  margin: 110px auto 0 10px;
  padding: 5px;
  display:inline-block;
  width: 335px;
  height: 12em;
  word-wrap: normal;
  border-radius: 5px;
}


.rw-words{
  display: inline;
  text-indent: 1em;

}

.rw-words span {
  position: absolute;
  opacity: 0;
  color: $accent-color;

}


.animateWord {
  display: inline;
  text-indent: 1em;
  position: absolute;
  opacity: 0;
  overflow: hidden;
  width: 100%;
  color: $accent-color;

}

.rw-words-1 span{
  -webkit-animation: rotateWord 18s linear infinite 0s;
  -ms-animation: rotateWord 18s linear infinite 0s;
  animation: rotateWords 18s linear infinite 0s;
}

.rw-words  span:nth-child(2) {
  -webkit-animation-delay: 3s;
  -ms-animation-delay: 3s;
  animation-delay: 3s;
  color: $accent-color;
}
.rw-words  span:nth-child(3) {
  -webkit-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
  color: $accent-color;
}
.rw-words  span:nth-child(4) {
  -webkit-animation-delay: 9s;
  -ms-animation-delay: 9s;
  animation-delay: 9s;
  color: $accent-color;
}
.rw-words  span:nth-child(5) {
  -webkit-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s;
  color: $accent-color;
}
.rw-words  span:nth-child(6) {
  -webkit-animation-delay: 15s;
  -ms-animation-delay: 15s;
  animation-delay: 15s;
  color: $accent-color;
}

@-webkit-keyframes rotateWords {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
  5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
  20% { opacity: 0; -webkit-transform: translateY(30px); }
  80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWords {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(-30px); }
  5% { opacity: 1; -ms-transform: translateY(0px);}
    17% { opacity: 1; -ms-transform: translateY(0px); }
  20% { opacity: 0; -ms-transform: translateY(30px); }
  80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWords {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
  5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
  20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
  80% { opacity: 0; }
    100% { opacity: 0; }
}

@media only screen and (min-width: 412px) {
  .rw-wrapper{
    font-size: 1em;
    position: relative;
    margin: 110px auto 0 15px;
    width: 355px;
    height: 10em;
  }


}

// @media only screen and (min-width: 765px) {
//   #about {
//     display: flex;
//     display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
//     display: -ms-flexbox;  /* TWEENER - IE 10 */
//     display: -webkit-flex;
//   }
