$header-font:'Lobster', cursive;
$signiture-font: 'Dancing Script', cursive;
$highlight-font: 'Shadows Into Light Two', cursive;
$scroll-font: 'Ubuntu', sans-serif;
$deveolper-font: 'Mr Dafoe', cursive;
$main-font: 'Raleway', sans-serif;
